**VERİ TABANI YÖNETİM SİSTEMLERİ LAB UYGULAMA 8**

**Not**: Prelab dokümanında verilen veri tabanını oluşturduktan sonra aşağıda verilen sorulara uygun SQL kodlarını yazınız.  
Yazdığınız kodları <u>yorumlarınızla</u> açıklayınız. 

ESUZEM'de açılan yere bu dosyayı "OgrNo\_AdSoyad\_UygNo.ipynb" dosya adı ile beraber yükleyiniz.

Örnek dosya adı : <span style="color: red; font-size: 14pt;">152120181000_ZekeriyyaDemirci_Uyg8.ipynb</span>

In [3]:
/*
(5p) Soru 1 : "VtysLabDB" adıyla yeni bir veri tabanı oluşturunuz. Bundan sonraki aşamalarda bu tablo KULLANILACAKTIR.
*/  

create database VtysLabDB


/* 
YORUMLARINIZI YAZINIZ
create database ile yeni bir veritabanı oluşturulur.
.
.
*/

: Msg 1801, Level 16, State 3, Line 5
Database 'VtysLabDB' already exists. Choose a different database name.

In [26]:
/*
(10p) Soru 2 : Aşağıda verilen şekilde tabloyu oluşturunuz.
         - Tablo adı : tblCustomer
         - Kolonlar  :
                        - customerID : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. 100'den başlar ve otomatik olarak 1'er 1'er artış gösterir.
                        - first_name : Varchar(255) veri tipindedir. NULL olmasına izin verilmez.
                        - last_name  : Varchar(255) veri tipindedir. DEFAULT değeri "NotSpecified" olarak kullanılaraktır.
                        - age        : Integer veri tipindedir. NULL olmasına izin verilmez. 18'den büyük olmalıdır. Kullandığınız kısıta "CHC_CustomerAge" adını veriniz !
*/  

use VtysLabDB

create table tblCustomer (
    customerID int identity(100, 1),
    first_name varchar(255) not null,
    last_name varchar(255) default 'NotSpecified',
    age int not null,
    CONSTRAINT CHC_CustomerAge check (age > 18),

    constraint PK_Customer primary key(customerID),


)

/* 
YORUMLARINIZI YAZINIZ
create table komutu ile bir tablo oluşturulur. sütunları oluşturan customerID vs belirli kıstaslara göre oluşmuştur.
örneğin customerID integer veri tipini int koyarak. ve 100'den başlayıp 1-1 artmasını da identity(100,1) yazılarak yapıldı.
firt_name ve last_name de varchar(255) tipinde oluşturup firt_name null olmasına izin vermemek için not null yazılırken
default olarak bir değerin atanmasında da default '' yazılır.
age integer veri tipinde ve aynı şekilde not null, ile null olmasına izin verilmez.
age integer tipinde özel bir isim constraint ile verilir ve koşul durumu sağlanabilir. parantez içerisinde ifade ettim.
aynı şekilde constaint ile primary key olarak kullandırıp özel bir isim tanımladım.
.
.
*/

: Msg 2714, Level 16, State 6, Line 13
There is already an object named 'tblCustomer' in the database.

In [28]:
/* SORU 2 İLE BAĞIMLIDIR. SORU 2 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 3 : Aşağıda verilen kayıtları tblCustomer tablosuna ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya 3 kaydı da EKLEYİN. 
              Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.

kayıtlar :  => 'Debra','Burks',24
            => 'Kasha','Todd',36
            => 'Robby','Sykes',12

*/  

use VtysLabDB

insert into tblCustomer(first_name, last_name, age)
values ('Debra', 'Burks', 24)

insert into tblCustomer(first_name, last_name, age)
values ('Kasha', 'Todd', 36)

insert into tblCustomer(first_name, last_name, age)
values ('Robby', 'Sykes', 12)

select * from tblCustomer

/* 
YORUMLARINIZI YAZINIZ
bizden istenen bilgileri yazmak istediğimde Debra ve Kasha'yı yazdırabildiğimi gördüm ancak Robby'i göremedim. Bunun sebebi Robby'nin yaşı 18'den küçük olmasıdır. Ben tabloyu kurarken
yaş sınırı ekledim ve 18 yaş üstü diye ayarladım. Bu durumda sadece Debra ve Kasha bastırılmıştır. Eğer Robby'nin yaşını 18'den büyük yaparsam oda bastırılır.
.
.
*/

customerID,first_name,last_name,age
100,Debra,Burks,24
101,Kasha,Todd,36

: Msg 547, Level 16, State 0, Line 19
The INSERT statement conflicted with the CHECK constraint "CHC_CustomerAge". The conflict occurred in database "VtysLabDB", table "dbo.tblCustomer", column 'age'.

In [32]:
/* SORU 2 İLE BAĞIMLIDIR. SORU 2 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 4 : Aşağıda first_name ve age bilgileri verilen kaydı tblCustomer tablosuna ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya kaydı da EKLEYİN. 
              Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.

kayıt :  => 'Melia',42 
*/  

use VtysLabDB
insert into tblCustomer(first_name,age) values ('Melia',42);
select * from tblCustomer

/* 
YORUMLARINIZI YAZINIZ
Bizden isteneni dikkatli baktığımızda first_name ve age dir. last_name default olarka NotSpecified olarak atanmıştı. Dolayısıyla bu kod hatasız çalışması beklenmektedir.
select*from ile kontrol etmek istediğimde görüyorum ki soru 2 ve soru 4 doğru bir şekilde çalışmaktadır.
.
.
*/

customerID,first_name,last_name,age
100,Debra,Burks,24
101,Kasha,Todd,36
103,Melia,NotSpecified,42

In [33]:
/*
(10p) Soru 5 : Aşağıda verilen şekilde tabloyu oluşturunuz.
         - Tablo adı : tblProduct
         - Kolonlar  :
                        - productID    : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. 200'den başlar ve otomatik olarak 1'er 1'er artış gösterir.
                        - product_name : Varchar(255) veri tipindedir. NULL olmasına izin verilmez.
                        - price        : Float veri tipindedir. NULL olmasına izin verilmez.
*/  

use VtysLabDB
create table tblProduct (
    productID int identity(200, 1),
    product_name varchar(255) not null,
    price float not null,

    constraint PK_product primary key(productID),
)


/* 
YORUMLARINIZI YAZINIZ
Soru 2 de olduğu gibi tablonun sütunları belirli şartlara göre yazılmaktadır. 
productID'nin 200'den başlayıp 1-1 artması için identity(200,1) yazılması gerekmektedir. integer için int yazılması lazım.
product_name için konuşacak olursam varchar veri tipi için varchar yazıldı. null olmaması için not null yazıldı.
float veri tipi için price da float yazıld.

productID'nin primary key olarak olması için constraint yazıldı 2. soruda ki gibi ve bir isimle özdeşti bağ.
.
*/

In [35]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 6 : Aşağıda verilen kayıtları "tblProduct" tablosuna ekleyiniz.

kayıtlar : => 'Surly Straggler',12.5
           => 'Electra Townie Original',10
           => 'Pure Cycles William',5
*/  

use VtysLabDB

insert into tblProduct(product_name,price) values ('Surly Straggler',12.5);
insert into tblProduct(product_name,price) values ('Electra Townie Original',10);
insert into tblProduct(product_name,price) values ('Pure Cycles William',5);

select*from tblProduct

/* 
YORUMLARINIZI YAZINIZ
insert into ile table'a ekleme yaplır. önce sütunlar sonra values ile değerler girilir. Değerler girilirken bir şart belirtilmediği içi direk eklendi sütunlar.
eklendi mi diye kontrol edilmesi için select * from yazıldı.
.
.
*/

productID,product_name,price
200,Surly Straggler,12.5
201,Electra Townie Original,10
202,Pure Cycles William,5

In [36]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 7 : Aşağıda verilen şekilde "tblProduct" tablosunda güncelleme yapınız.
        - "price" değerinin 0'dan büyük olmasını garanti edecek şekilde "CHC_ProductPrice" adıyla bir CONSTRAINT 'i tabloya ekleyiniz.
*/  

use VtysLabDB
alter table tblProduct add constraint CHC_ProductPrice check (price>0)


/* 
YORUMLARINIZI YAZINIZ
burada alter komutu kullanılması gerekmektedir. bu komut sayesinde table'da update yapabilir demektir.
bizden istenen price'ın 0'dan büyük olduğunu garanti altına almaktır ve buna bir isimle yapılması istenmektedir. bunun için add constraint yazılarak yapılır ve check komutu ile koşul sağlanır.
.
.
*/

In [39]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 8 : Aşağıda verilen kaydı tblProduct tablosuna ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya kaydı da EKLEYİN. 
              Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.

kayıt : => 'Pure Cycles William',0
*/  

use VtysLabDB

--insert into tblProduct(product_name,price) values ('Pure Cycles William',0);
insert into tblProduct(product_name,price) values ('Pure Cycles William',1);
select * from tblProduct


/* 
YORUMLARINIZI YAZINIZ
bir hata aldım. Aldığım hatayı dikkatli incelediğimde fiyatı 0 görmekteyim. Tablo alter table edilirken 0'dan büyük olması koşulu verilmişti. Ekleme işlemi doğru çalışıyor mu test etmek için
aynı komutu tekrar eklicem ve bu sefer 1 ve 5 yap eklicem. select * from yaptığımda doğru çalıştıklarını görmekteyim. Öyleyse sorun yok demektir.
.
.
*/

productID,product_name,price
200,Surly Straggler,12.5
201,Electra Townie Original,10
202,Pure Cycles William,5
204,Pure Cycles William,1

In [42]:
/*
(10p) Soru 9 : Aşağıda verilen şekilde tabloyu oluşturunuz.
         - Tablo adı : tblOrder
         - Kolonlar  :
                        - orderID    : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. Otomatik olarak artış gösterir.
                        - productID  : Integer veri tipindedir. "FK_ProductOrder" adında tanımlı bir CONSTRAINT ile tblProduct(productID)'a FOREING KEY olarak bağlıdır.
*/  

use VtysLabDB
create table tblOrder
(
    orderID int IDENTITY(1,1),
    productID int not null,

    constraint FK_ProductOrder foreign key (productID) REFERENCES tblProduct (productID),
    constraint PK_Order primary key(orderID)
)

/* 
YORUMLARINIZI YAZINIZ
Order table'ı oluşturulurken orderID int ile ve identity 1,1 olarak oluşturuldu. Böylece 1'den başlayıp otomatik olarka 1-1 artacaktır.
productID oluşturulurken null olmasın denildi çünkü bir sıkıntı çıkarmaması için foreign key ile bağlantı kurulurken
primary key de yine aynı şekilde oluşturuldu. bir isim ile tanımlandırılarak
Burada asıl husus foreign key kımıdır. İlk başta constraint ile bir isim verildi. Daha sonra foregin key kulllanılması için gerekli olan ID yani productID girildi.
referans olarak bağlantı kurulacağı yer ise tblProduct'da ki productID olacak şekilde ayarlandı.
Komutlar başarılı bir şekilde çalıştı.
.
.
*/

In [43]:
/* SORU 9 İLE BAĞIMLIDIR. SORU 9 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(10p) Soru 10 : Aşağıda verilen şekilde tblOrder tablosunda güncelleme yapınız. TEK BİR SORGU YAZINIZ !
            - tabloya aşağıdaki özelliklerde "customerID" adında yeni bir kolon ekleyiniz.
                    - customerID : Integer veri tipindedir. "FK_CustomertOrder" adında tanımlı bir CONSTRAINT ile tblCustomer(customerID)'a FOREING KEY olarak bağlıdır.
*/  

use VtysLabDB
alter table tblOrder
add customerID int constraint FK_CustomertOrder 
foreign key (customerID) references tblCustomer (customerID)

/* 
YORUMLARINIZI YAZINIZ
burada alter table kullanmam gerekmektedir. Tabloda bir güncelleme yapılması istenmektedir.
integer veri tipinde özel bir isimle tanımlanması gerektiği için customerID int ve constraint yazıldı. Bunun foregin key'i ise
9.soru da olduğu gibi ilk önce burada ki customerID daha sonra tblCustomer table'ında ki customerID ile bağ kurduruldu.
.
.
*/

In [46]:
/* SORU 9 İLE BAĞIMLIDIR. SORU 9 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(10p) Soru 11 : tblOrder tablosuna kendi belirlediğiniz 5 adet kayıt ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya en az 5 kaydı da EKLEYİN. 
                Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.
*/  
use VtysLabDB

insert into tblOrder(productID, customerID) values (200,100)

insert into tblOrder(productID, customerID) values (201,101)

insert into tblOrder(productID, customerID) values (201,103)

insert into tblOrder(productID, customerID) values (204,103)

insert into tblOrder(productID, customerID) values (205,103)


select * from tblProduct

select * from tblCustomer

insert into tblOrder(productID, customerID) values (200,103)
/* 
YORUMLARINIZI YAZINIZ

5 tane ekleme işlemi yaptım ancak 1 tanesinde ekleme yapılmadığını bilerek görmek istedim. İlk başta tblProduct ve tblCustomer tablolarını komple getirmek
istedim. Çünkü iki tablo arasında bağ kurulacağı için ID'lerin tabloda bulunması gerekir. Bende 4 tane işlemde ID'lerin tabloda olmasını bilerek ekledim.
5. ekleme işleminde ie productID'de 205 olarak girdim. Oysa ki 205 hiç yok. Böylece bu soru çözülmüştür. Şimdi en son olarak 5. yi de listeye ekleyim.
Böylece 5 farklı insert komutu eklenmiş olunmaktadır.
.
.
.
*/

In [49]:
/*
(15p) Soru 12 : Aşağıda verilen şekilde bir VIEW tablosu oluşturunuz. Bu tabloda mevcut siparişlere ait müşteri ve ürün bilgileri bulunacaktır.
         - Tablo adı : tblView
         - Kolonlar  :
                        - orderID     : 
                        - customerID  : 
                        - firs_name   : 
                        - last_name   : 
                        - age         : 
                        - productID   : 
                        - product_name: 
                        - price       : 
*/    

create view tblView
as 
select tblOrder.orderID, tblOrder.customerID, tblCustomer.first_name, tblCustomer.last_name, tblCustomer.age,
tblProduct.productID, tblProduct.product_name, tblProduct.price from tblOrder
join tblCustomer on tblCustomer.customerID = tblOrder.customerID
join tblProduct on tblProduct.productID = tblOrder.productID

/* 
YORUMLARINIZI YAZINIZ
create view komutu ile tblView oluşturuldu. as ile devamında ki satırlar eklenmiş oldu.
Kolonların isimleri bize verilen soruda, istenildiği gibi sırasıyla tek tek yazıldı. Bunlar tblOrder tablosundan çekildi.
devamında tblCustoer ile tblOrder ve tblProduct ile tblOrder tabloları bağlandı.
.
.
*/

In [50]:
/* SORU 12 İLE BAĞIMLIDIR. SORU 12 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 13 : tblView adıyla oluşturduğunuz VIEW tablosundaki tüm kayıtları listeleyen kodu yazınız.
*/    

select * from tblView


/* 
YORUMLARINIZI YAZINIZ
select * from ile tıp ki table için yaptığımız gibi View içinde aynısı yapıldı ve tüm hepsi bastırıldı.
.
.
*/

orderID,customerID,first_name,last_name,age,productID,product_name,price
1,100,Debra,Burks,24,200,Surly Straggler,12.5
2,101,Kasha,Todd,36,201,Electra Townie Original,10
3,103,Melia,NotSpecified,42,201,Electra Townie Original,10
4,103,Melia,NotSpecified,42,204,Pure Cycles William,1
6,103,Melia,NotSpecified,42,200,Surly Straggler,12.5