**VERİ TABANI YÖNETİM SİSTEMLERİ LAB UYGULAMA 9**

**Not**: Prelab dokümanında verilen veri tabanını oluşturduktan sonra aşağıda verilen sorulara uygun SQL kodlarını yazınız.  
Yazdığınız kodları <u>yorumlarınızla</u> açıklayınız. 

ESUZEM'de açılan yere bu dosyayı "OgrNo\_AdSoyad\_UygNo.ipynb" dosya adı ile beraber yükleyiniz.

Örnek dosya adı : <span style="color:red;font-size:14pt;">152120181000_ZekeriyyaDemirci_Uyg9.ipynb</span>

In [3]:
/*
-- SORUYA HAZIRLIK --
Uygulama 8'de oluşturulan "VtysLabDB" veritabanı mevcutta veri tabanınınzda yoksa aşağıdaki gibi oluşturunuz.
*/
CREATE DATABASE VtysLabDB

In [4]:
/*
-- SORUYA HAZIRLIK --
VtysLabDB veri tabanında ilgili tabloları oluşturmak için kullanınız.
*/
USE VtysLabDB

CREATE TABLE tblCustomer
(
    customerID INT IDENTITY PRIMARY KEY,
    firs_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(20) DEFAULT 'NotSpecified',
    age INT NOT NULL,
    CONSTRAINT CHC_CustomerAge CHECK (age>=18)
)

INSERT INTO tblCustomer(firs_name,last_name,age) 
VALUES
('Debra','Burks',24),
('Kasha','Todd',36),
('Robby','Sykes',22)


CREATE TABLE tblProduct
(
    productID INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    price FLOAT NOT NULL,
    CONSTRAINT CHC_ProductPrice CHECK (price>0)
)

INSERT INTO tblProduct (product_name,price)
VALUES
('Surly Straggler',12.5),
('Electra Townie Original',10),
('Pure Cycles William',5)


CREATE TABLE tblOrder
(
    orderID INT IDENTITY PRIMARY KEY,
    productID INT,
    customerID INT,
    CONSTRAINT FK_ProductOrder FOREIGN KEY (productID) REFERENCES tblProduct(productID),
    CONSTRAINT FK_CustomertOrder FOREIGN KEY (customerID) REFERENCES tblCustomer(customerID)
)

In [5]:
/*
-- SORUYA HAZIRLIK --
"tblOrder" tablosuna aşağıdaki 5 adet kayıt ekleyiniz. 
*/  
use VtysLabDB

INSERT INTO tblOrder (customerID,productID)
VALUES
(1,1),
(1,2),
(1,3),
(2,1),
(2,2),
(2,3),
(3,1),
(3,2),
(3,3)

In [14]:
/*
(15p) Soru 1 : "TRG_CustomerCount" adında bir trigger oluşturunuz. Bu trigger "tblcustomer" tablosuna kayıt eklendikten sonra toplam müşteri(customer) sayısı "countOfCustomer" adıyla ekrana yazdırsın.
*/  

use VtysLabDB
go
create TRIGGER TRG_CustomerCount 
on tblCustomer
after insert as 
(SELECT COUNT(*) AS countOfCustomer 
FROM tblCustomer)

/* 
Burada use VtysLabDB den sonra create trigger oluşturmaya çalıştığımda hata aldığımı gördüm. araya GO eklediğim zaman hatanın çözüldüğünü gördüm. USE kaldırdığım zaman da hatanın çözüldüğünü gördüm.
Trigger oluşturmada isim verirken create trigger yazdıktan sonra direk isim girdirilir.
hangi table'da çalışmamız gerekiyorsa on'dan sonra tablo adı eklenir.
after terimi => işlem yapıldıktan sonra anlamı katar
insert => tabloda hangi sql işlemi sırasında çalıştırılacağını belirtiriz.
sql sorgusunda ise tblCustomer'dan çekileceğini ve count işlemi için as ile isim girdirilmiştir.
*/

In [17]:
/* SORU 1 İLE BAĞIMLIDIR. SORU 1 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 2 : Aşağıda verilen kaydı "tblCustomer" tablosuna ekleyiniz. Aldığınız sonucu MUTLAKA açıklayınız.

kayıtlar :  => 'Melia','Korly',42

*/  

use VtysLabDB
insert into tblCustomer(firs_name, last_name, age)
values ('Melia', 'Korly', 42)


/* 
bir insert into sorgusu yazılacaktır.isim eklendiği zaman sonuca baktığımda ise görmüş olduğum şey countOfCustomer adı altında 4 kişinin gözükmesi.
Neden ekleme işleminden sonra böyle bir sonuç çıktı? Çünkü Trigger ile yaptığımız fonksiyonel işlemden dolayı.
*/

countOfCustomer
4

In [19]:
/*
(15p) Soru 3 : "TRG_DeletedProduct" adında bir trigger oluşturunuz. Bu trigger "tblProduct" tablosundan bir kayıt silindikten sonra silinen kaydı ekrana yazdırsın.
*/  
use VtysLabDB
go
create TRIGGER TRG_DeletedProduct 
on tblProduct
after delete as 
begin
    declare @ProductID int
    declare @ProductName varchar(255)
    declare @Price float

    select @ProductID = deleted.productID , @ProductName = deleted.product_name , @Price = deleted.price
    from deleted
end


/* 
    1. soruda ki gibi GO kullanımı yapılmıştır. GO kullanılmaması için use komutunu da silmek gerekmektedir.
    create trigger ile verilen isimle bir trigger oluşturulmuştur.
    on ile Product tablosunda oluşturulmuştur.
    after ile soruda ki bir kayıt silindikten 'sonra' ifadesi yerine getirilmiştir.
    begin ile end arasında ise sql ifadesi yapılacaktır.
    ilk başta declare ile değişkenler tanındı. Bunlar Product tablosunda ki değişkenlerdir. Ardından
    silindikten sonra ekrana bastıralacaklar için select komutları yazıldı. from deleted ile silinen ifadesi yerine getirildi.
*/

: Msg 2714, Level 16, State 2, Procedure TRG_DeletedProduct, Line 1
There is already an object named 'TRG_DeletedProduct' in the database.

In [23]:
/* SORU 3 İLE BAĞIMLIDIR. SORU 3 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(25p) Soru 4 : "tblProduct" tablosundan sizin belirlediğiniz bir kaydı siliniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tablodan kaydı silin. 
                Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.

*/  

use VtysLabDB
alter table tblOrder drop constraint fk_ProductOrder
alter table tblOrder add constraint fk_ProductOrder 
foreign key (productID)
references tblProduct(productID)
on delete cascade
delete from tblProduct 
where productID >1


/* 
    use ile veritabanı bağlantısı kuruldu.
    alter table komut satırları ile constraint i düşürmeyi hedeflenmiştir. Çünkü bir hata ile karşılaştım. Karşılaştığım hatayı şöyle yorumluyorum
    tblProduct tablonun primay keyi order tablosunun foreign key ile bağı olduğu için silinemiyordu. Ardından constraint oluşturduktan sonra
    foreign key oluşturdum. References ile referans alındığı ID yapıldı ve arasında ki bağ kuruldu.
    on delete cascade ile  tablodan kayıtı silme işlemi yapıldı.
    cascade'in çalışma mantığı şöyledir => references ile belirtilen sütunda bir eylem olduğunda foreign key ile belirtilen ilişki sütununda benzer eylemi yapar.
    Ardındna benim istediğim şartları şöyle belirttim. where ile productID'si 1 den büyük olan hepsini sil dedim. Böylelikle hatayı çözdüm ve istenilen şartı sağlayan kodu yazmış oldum.
*/

In [20]:
/*
-- SORUYA HAZIRLIK --
Aşağıda verilen şekilde tabloyu oluşturunuz. Bu tabloyu bir sonraki soruda "silinen siparişleri(order) saklamak için kullanacağız."
         - Tablo adı : tblLoss
         - Kolonlar  :
                        - lossID       : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. Otomatik olarak artış gösterir.
                        - orderID      : Integer veri tipindedir. 
                        - productID    : Integer veri tipindedir.
                        - product_name : Varchar(255) veri tipindedir. NULL olmasına izin verilmez.
                        - price        : Float veri tipindedir. NULL olmasına izin verilmez.
*/  

CREATE TABLE tblLoss
(
    lossID INT IDENTITY PRIMARY KEY,
    orderID INT,
    productID INT,
    product_name VARCHAR(255) NOT NULL,
    price FLOAT NOT NULL
)

In [ ]:
/*
(35p) Soru 5 : "TRG_DeletedOrder" adında bir trigger oluşturunuz. Bu trigger "tblOrder" tablosundan bir kayıt silindikten sonra aşağıda belirtilen görevleri yerine getirmelidir.
                - "tblOrder" tablosundan silinen kaydı "tblLoss" tablosuna kaydedecektir. "tblLoss" tablosundaki kolonlara dikkat ediniz.
                - "tblLoss"  tablosundaki kayıtların ürün bazında toplam fiyatını(price) "totalPriceLoss" adıyla ekrana yazdıracaktır. (Hangi üründen kaç liralık sipariş silinmiştir? )
*/  

use VtysLabDB
go 
create trigger TRG_DeletedOrder
on tblOrder
after delete as
begin
    declare @orderID int
    declare @productID int 
    declare @product_name varchar(255)
    declare @price float 
    
    select @orderID = deleted.orderID , @productID = deleted.productID, @product_name = deleted.product_name , @price = deleted.price
    join tblProduct on tblProduct.productID = deleted.productID
    insert into tblLoss(orderID, productID, product_name, price)
    values (@orderID, @productID, @product_name, @price)

    select tblLoss.productID as productID, sum(price) as totalPriceLoss
    from tblLoss
    group by tblLoss.productID
end

/* 
Go kullanımı use kullanıldığı için yapılmıştır diğer sorularda olduğu gibi.
create trigger ile soruda verilen isim ile trigger oluşturulmuştur.
on ile istenilen tabloda oluşturulmuştur trigger.
after ile 'sonra' ifadesinin karşılığından dolayı kullanılarak yazılıştır.
delete ile silme işlemi ifade edilmiştir. as den sonra begin ile end arasında yazılan sql komutları yazılmıştır. bunlar şöyledir.

tblOrder tablosundan silinen kaydı tblLoss tablosuna kaydedebilmem için insert into kullanılacaktır. ancak ondan da önce select ile deleted kısmını yapmam gerekmektedir.
select ile declare ile tanımlamış olduğum tblLoss tablosunda ki veriledir. Bu verileri ise productID ile tablosu ile bağlayabilmem gerekmektedir.
Bunu da join on ile yaptım. Join on ile silinen product ile ile tblProduct id yi birleştirdim. Böylelikle productID, product name ve price i çekebilmem sağlanmıştır.
insert into ile silinen bilgileri tblLoss'a ekleyebiliyor oluyorum.

ardından select silinen hangi üründen kaç liralık sipariş edildiğini ile yaptım. group by ile de en son gruplama yaparak yaptım.
*/

In [ ]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 6 : "tblOrder" tablosundan sizin belirlediğiniz en az 2 farklı siparişi siliniz. Bu siparişler farklı ürünler için olmalıdır. Sonucu yorumda açıklayınız. 

*/



/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/