**VERİ TABANI YÖNETİM SİSTEMLERİ LAB. UYGULAMA 11**

**Not**: Prelab dokümanında verilen veri tabanını oluşturduktan sonra aşağıda verilen sorulara uygun SQL kodlarını yazınız.  
Yazdığınız kodları <u>yorumlarınızla</u> açıklayınız.  
Yazdığınız kodun <u>çıktısı</u>, göndereceğiniz dosyada listeleyiniz.

**NOT:** <u>ÇALIŞMAYAN KOD, DEĞERLENDİRMEYE GİRMEYECEKTİR!</u>

ESUZEM'de açılan yere bu dosyayı "OgrNo\_AdSoyad\_UygNo.ipynb" dosya adı ile beraber yükleyiniz.

Örnek dosya adı : <span style="color: red; font-size: 14pt;">152120181000_SergenAsik_Uyg11.ipynb</span>

In [16]:
/*
(25p) Soru 1: Belirli bir mağazadaki(stores) çalışanlara(staffs) email gönderilmek istenmektedir. Aşağıdaki koşullara göre fonksiyon kodunu yazınız.
            - Mağazanın adı parametre olarak fonksiyona verildiğinde o mağazadaki çalışanların email adresleri listelenmelidir.
            - Hiç kayıt bulunamıyorsa 'Value cannot be found!' uyarısını listelemelidir.
            - Parametre değeri olarak 'Rowlett Bikes' kullanılacaktır. (Parametre değeri çalışmayan uygulamalar değerlendirilmeyecektir!)
*/
use BikeStores
go
create function StaffsMail(@store_name nvarchar(50))
returns @table table(email nvarchar(50))
as 
begin
    insert into @table
    select staffs.email from staffs
    join stores on stores.store_id=staffs.store_id
    where stores.store_name = @store_name
    if (select COUNT(*) from @table) = 0
    begin
        insert into @table(email) values ('Value cannot be found!')
    end
    return
end
go
select * from StaffsMail('Rowlett Bikes1')
/*
YORUMLARINIZI YAZINIZ
Use BikeStore ile ilk başta veri tabanına bağlandı.
Bağlanıldıktan sonra fonksiyon çalışsın diye Go yazıldı
Ardından fonksiyon oluşturuldu. Uygun isim verildi ve parametre olarak bir nvarchar tipinde bir değişken tanımlandı.
Ardından bu return edecek table için email oluşturuldu nvarchar tipinde ve as begin diyerek fonksiyonun içi doldurulmaya başlandı.
Ardından tablonun içi doldurulmaya başlandı. select ile staffs'da ki email çekildi.
Daha sonra stores ile staffs arasında ki bağ kurulması için bir join on yazıldı. Ve ardından olması gereken where şartı yazıldı. Where şartı ile
Rowlett Bikes'dan çekilmesi gereken yer yazıldı.

Daha sonra if koşulu yazılmaya başlandı. If ile soruda verilen koşul belirtildi. Yani eğer tablodan gelen sayı 0'a eşitse cannot be found begin-end arasında yazılacak dendi
eğer if e girmezse de return etsin tablo denildi.

Daha sonra go yazılmasının sebebi önceki yazılanlar bir dursun sonra ki satır çalışsın denilerek select * from yazıldı ve kod doğru bir şekilde çalışılıyor.


*/

: Msg 2714, Level 16, State 3, Procedure StaffsMail, Line 1
There is already an object named 'StaffsMail' in the database.

email
Value cannot be found!

In [25]:
/*
(25p) Soru 2: Belirli bir müşterinin(customers), sipariş(orders) vermiş olduğu order_date listelenmek istenmektedir.
                 Aşağıdaki koşullara göre fonksiyon kodunu yazınız.
            - Müşterinin adı parametre olarak fonksiyona verildiğinde o müşteriye ait siparişlerin tarihleri listelenmelidir.
            - Hiç kayıt bulunamıyorsa 'Value cannot be found!' uyarısını listelemelidir.
            - Parametre değeri olarak 'Debra Burks' kullanılacaktır. (Parametre değeri çalışmayan uygulamalar değerlendirilmeyecektir!)
            NOT: Parametre değerinin iki ayrı sütunu (first_name, last_name) temsil ettiğini unutmayınız!
*/

use BikeStores
go
create function CustomersOrders(@namef nvarchar(50),@names nvarchar(50))
returns @name table(order_date DATE)
as 
begin
    insert into @name
    select orders.order_date from orders
    join customers on customers.customer_id=orders.customer_id
    where customers.first_name = @namef
    and customers.last_name=@names
    return
end
go
select * from CustomersOrders('Debra','Burks')


/*
YORUMLARINIZI YAZINIZ
use ile ilk önce veri tabanı bağlandı.
Bağlandıktan sonra fonksiyon oluşturulsun denildiği için Go yazıldı.
Uygun isim verildikten sonra parametreler için nvarchar tipinde 2 tane parametre değeri girildi. first name'in f'si last name'in l'si için ilk harfleri alınarak 2 tane parametre oluşturuldu.
Daha sonra as begin ile başlanıldı fonksiyonun içi
select ile ilk önce orders tablosundan order_date çekildi. Daha sonra customers ile bağlantı kuruldu join on ile
ardından where şartı ile parametrelerin şartları belirtildi.
if koşulunu yazmadım çünkü Date tipinde bir değişkenin tip dönüşüm hatasını aldığım için ve derste de hocamın if şartını yazmaya gerek yok o zaman
demesinden dolayı yazmaktan vazgeçtim.
ardından return edilerek fonksiyon döndürüldü.
ardından go ile buraya kadar yazılıp dursun bundan sonraki satır çalışsın denilerek fonksiyonun çalışması test edildi. ve soru doğru çalışıyor
*/

: Msg 2714, Level 16, State 3, Procedure CustomersOrders, Line 1
There is already an object named 'CustomersOrders' in the database.

order_date
2016-12-09
2018-04-18
2018-11-18

In [29]:
/*
(25p) Soru 3: Belirli bir mağazadaki(stores) stoklarda(stocks) bulunan ürünlerin(products) stok adet miktarı görüntülenmek istenmektedir. 
                Aşağıdaki koşullara göre fonksiyon kodunu yazınız.
            - Mağazanın adı parametre olarak fonksiyona verildiğinde o mağazadaki bulunan ürünlerin adı ve stok miktarı listelenmelidir.
            - Hiç kayıt bulunamıyorsa 'Value cannot be found!' uyarısını listelemelidir.
            - Parametre değeri olarak 'Santa Cruz Bikes' kullanılacaktır. (Parametre değeri çalışmayan uygulamalar değerlendirilmeyecektir!)
*/

use BikeStores
go
create function StoresStocksProducts (@parameter varchar(50))
returns @table TABLE(product_name varchar(255), quantity varchar(50))
as 
begin
    insert into @table
    select products.product_name, convert(varchar(50), stocks.quantity) from products
    join stocks on stocks.product_id = products.product_id
    join stores on stores.store_id = stocks.store_id
    where stores.store_name = @parameter
    if (select count(*) from @table) = 0
        begin
        insert into @table(product_name, quantity) values ('Value cannot be found!', 'Value cannot be found!')
        end
    return
end
go
select * from StoresStocksProducts('Omer Faruk Ozturk')

/*
YORUMLARINIZI YAZINIZ
use go kullanımı yukarıda ki soruların mantığınd yazılmıştır.
fonksiyon ismi uygun isimle oluşturulmuştur.
tablo oluşturulurken fonksiyon içi varchar tipinde oluşturulmuştur.
Ardından as begin ile fonksiyonun için oluşturulmaya başlanılmıştır.
ARdından select ile gösterilmesi gerekiilen yerler girdirilmeye başlanılmıştır.
Products dan stocks.quantity çekildi. Ancak int den varchara dönüşmesi için convert kullanıldı. Ardından product_name çekildi.
products un stocks ile, stocks'un sotres ile bağ kurulması için join on kullanıldı.
Ardındam where koşulu ile parametre değeri doğrulaması yapıldı.

if ile tablonun sayısı kontrol edildi eğer 0 ise begin end arasında insert into ile product name ve quantity'e cannot be found eklendi.

eğer 0'a eşit değilse return edilsin denildi. ardından go yazılıp (ilk 2 soruda ki çalışma mantığıyla aynı)
select * from yazıldı ve sorunun doğru çalışıldığı gözlemlendi.
*/

: Msg 2714, Level 16, State 3, Procedure StoresStocksProducts, Line 1
There is already an object named 'StoresStocksProducts' in the database.

product_name,quantity
Value cannot be found!,Value cannot be found!

In [31]:
/*
(25p) Soru 4: Marka(brands) adına ve kategori(categories) adına göre gruplandırılma yapıldığında ürünlerin(products) toplam sayıları görüntülenmek istenmektedir.
                 Aşağıdaki koşullara göre fonksiyon kodunu yazınız.
            - Fonksiyon çalıştırıldığında marka adı, kategori adı ve toplam ürün sayısı listelenmelidir.
            - Hiç kayıt bulunamıyorsa 'Value cannot be found!' uyarısını listelemelidir.
            - Parametre değeri bulunmamaktadır.
*/

use BikeStores
go
create function BrandsCategoriesProducts ()
RETURNS @table TABLE(brand_name varchar(255), categories_name varchar(50), sum_product INT)
as 
BEGIN
    INSERT INTO @table
    SELECT brands.brand_name, categories.category_name, COUNT(*) FROM brands
    JOIN categories ON categories.category_id=brands.brand_id
    JOIN products ON products.product_id=brands.brand_id
    GROUP BY categories.category_name , brands.brand_name
    IF (select count(*) from @table) = 0
    BEGIN
    INSERT INTO @table(brand_name, categories_name,sum_product) VALUES ('Value cannot be found!', 'Value cannot be found!', 'Value cannot be found!')
END
RETURN
END
GO
SELECT * FROM BrandsCategoriesProducts()

/*
YORUMLARINIZI YAZINIZ
zaman yok diye yorum yazamadım
*/

brand_name,categories_name,sum_product
Electra,Children Bicycles,1
Haro,Comfort Bicycles,1
Heller,Cruisers Bicycles,1
Pure Cycles,Cyclocross Bicycles,1
Ritchey,Electric Bikes,1
Strider,Mountain Bikes,1
Sun Bicycles,Road Bikes,1