**VERİ TABANI YÖNETİM SİSTEMLERİ LAB UYGULAMA 8**

**Not**: Prelab dokümanında verilen veri tabanını oluşturduktan sonra aşağıda verilen sorulara uygun SQL kodlarını yazınız.  
Yazdığınız kodları <u>yorumlarınızla</u> açıklayınız. 

ESUZEM'de açılan yere bu dosyayı "OgrNo\_AdSoyad\_UygNo.ipynb" dosya adı ile beraber yükleyiniz.

Örnek dosya adı : <span style="color: red; font-size: 14pt;">152120181000_ZekeriyyaDemirci_Uyg8.ipynb</span>

In [117]:
/*
(5p) Soru 1 : "VtysLabDB" adıyla yeni bir veri tabanı oluşturunuz. Bundan sonraki aşamalarda bu tablo KULLANILACAKTIR.
*/  

CREATE DATABASE VtysLabDB

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [118]:
/*
(10p) Soru 2 : Aşağıda verilen şekilde tabloyu oluşturunuz.
         - Tablo adı : tblCustomer
         - Kolonlar  :
                        - customerID : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. 100'den başlar ve otomatik olarak 1'er 1'er artış gösterir.
                        - first_name : Varchar(255) veri tipindedir. NULL olmasına izin verilmez.
                        - last_name  : Varchar(255) veri tipindedir. DEFAULT değeri "NotSpecified" olarak kullanılaraktır.
                        - age        : Integer veri tipindedir. NULL olmasına izin verilmez. 18'den büyük olmalıdır. Kullandığınız kısıta "CHC_CustomerAge" adını veriniz !
*/  

use VtysLabDB

CREATE TABLE tblCustomer
(
    customerID INT IDENTITY(100,1) PRIMARY KEY,
    firs_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(20) DEFAULT 'NotSpecified',
    age INT NOT NULL,
    CONSTRAINT CHC_CustomerAge CHECK (age>=18)
)

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [120]:
/* SORU 2 İLE BAĞIMLIDIR. SORU 2 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 3 : Aşağıda verilen kayıtları tblCustomer tablosuna ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya 3 kaydı da EKLEYİN. 
              Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.

kayıtlar :  => 'Debra','Burks',24
            => 'Kasha','Todd',36
            => 'Robby','Sykes',12

*/  

use VtysLabDB

INSERT INTO tblCustomer(firs_name,last_name,age) 
VALUES
('Debra','Burks',24),
('Kasha','Todd',36),
('Robby','Sykes',22)   /* age kısıtı sağlamadığı için güncellendi. 18 den büyük eşit olması gerekiyor */


/* 
YORUMLARINIZI YAZINIZ
.Alınan hata :  The INSERT statement conflicted with the CHECK constraint "CHC_CustomerAge". The conflict occurred in database "VtysLabDB", table "dbo.tblCustomer", column 'age'.
.
*/

In [121]:
/* SORU 2 İLE BAĞIMLIDIR. SORU 2 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 4 : Aşağıda verilen kaydı tblCustomer tablosuna ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya kaydı da EKLEYİN. 
              Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.

kayıt :  => 'Melia',42 
 
*/  

use VtysLabDB

INSERT INTO tblCustomer(firs_name,age) 
VALUES
('Melia',42)


/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [122]:
/*
(10p) Soru 5 : Aşağıda verilen şekilde tabloyu oluşturunuz.
         - Tablo adı : tblProduct
         - Kolonlar  :
                        - productID    : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. 200'den başlar ve otomatik olarak 1'er 1'er artış gösterir.
                        - product_name : Varchar(255) veri tipindedir. NULL olmasına izin verilmez.
                        - price        : Float veri tipindedir. NULL olmasına izin verilmez.
*/  

use VtysLabDB

CREATE TABLE tblProduct
(
    productID INT IDENTITY(200,1) PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    price FLOAT NOT NULL
)

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [123]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 6 : Aşağıda verilen kayıtları tblProduct tablosuna ekleyiniz.

kayıtlar : => 'Surly Straggler',12.5
           => 'Electra Townie Original',10
           => 'Pure Cycles William',5
*/  

use VtysLabDB

INSERT INTO tblProduct (product_name,price)
VALUES
('Surly Straggler',12.5),
('Electra Townie Original',10),
('Pure Cycles William',5)


/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [124]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 7 : Aşağıda verilen şekilde tblProduct tablosunda güncelleme yapınız.
        - "price" değerinin 0'dan büyük olmasını garanti edecek şekilde "CHC_ProductPrice" adıyla bir CONSTRAINT 'i tabloya ekleyiniz.
*/  

use VtysLabDB
ALTER TABLE tblProduct
ADD CONSTRAINT CHC_ProductPrice CHECK (price>0)


/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [126]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 8 : Aşağıda verilen kaydı tblProduct tablosuna ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya kaydı da EKLEYİN. 
              Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.
kayıt : => 'Pure Cycles William',0
*/  

use VtysLabDB
INSERT INTO tblProduct (product_name,price)
VALUES
('Pure Cycles William',3)  /* price 0'dan büyük olmalıdır */


/* 
YORUMLARINIZI YAZINIZ
.Alınan hata : The INSERT statement conflicted with the CHECK constraint "CHC_ProductPrice". The conflict occurred in database "VtysLabDB", table "dbo.tblProduct", column 'price'.
.
.
*/

In [127]:
/*
(10p) Soru 9 : Aşağıda verilen şekilde tabloyu oluşturunuz.
         - Tablo adı : tblOrder
         - Kolonlar  :
                        - orderID    : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. Otomatik olarak artış gösterir.
                        - productID  : Integer veri tipindedir. "FK_ProductOrder" adında tanımlı bir CONSTRAINT ile tblProduct(productID)'a FOREING KEY olarak bağlıdır.
*/  

use VtysLabDB
CREATE TABLE tblOrder
(
    orderID INT IDENTITY PRIMARY KEY,
    productID INT,
    CONSTRAINT FK_ProductOrder FOREIGN KEY (productID) REFERENCES tblProduct(productID)
)

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [128]:
/* SORU 9 İLE BAĞIMLIDIR. SORU 9 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(10p) Soru 10 : Aşağıda verilen şekilde tblOrder tablosunda güncelleme yapınız. TEK BİR SORGU YAZINIZ !
            - tabloya aşağıdaki özelliklerde "customerID" adında yeni bir kolon ekleyiniz.
                    - customerID : Integer veri tipindedir. "FK_CustomertOrder" adında tanımlı bir CONSTRAINT ile tblCustomer(customerID)'a FOREING KEY olarak bağlıdır.
*/  

use VtysLabDB
ALTER TABLE tblOrder
ADD customerID INT
CONSTRAINT FK_CustomertOrder FOREIGN KEY (customerID) REFERENCES tblCustomer(customerID)


/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [130]:
/* SORU 9 İLE BAĞIMLIDIR. SORU 9 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(10p) Soru 11 : tblOrder tablosuna kendi belirlediğiniz 5 adet kayıt ekleyiniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tabloya en az 5 kaydı da EKLEYİN. 
                Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.
*/  
use VtysLabDB
INSERT INTO tblOrder (customerID,productID)
VALUES
(106,202),
(106,201),
(106,200),
(103,202),
(103,201),
(104,200),
(104,202),
(105,200),
(105,201)


/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [131]:
/*
(15p) Soru 12 : Aşağıda verilen şekilde bir VIEW tablosu oluşturunuz. Bu tabloda mevcut siparişlere ait müşteri ve ürün bilgileri bulunacaktır.
         - Tablo adı : tblView
         - Kolonlar  :
                        - orderID     : 
                        - customerID  : 
                        - firs_name   : 
                        - last_name   : 
                        - age         : 
                        - productID   : 
                        - product_name: 
                        - price       : 
*/    


CREATE VIEW tblView AS 
SELECT o.orderID,c.customerID,c.firs_name,c.last_name,c.age,p.productID,p.product_name,p.price 
FROM tblCustomer as c 
INNER JOIN tblOrder as o ON c.customerID=o.customerID 
INNER JOIN tblProduct as p ON p.productID=o.productID 
/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [132]:
/* SORU 12 İLE BAĞIMLIDIR. SORU 12 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 13 : tblView adıyla oluşturduğunuz VIEW tablosundaki tüm kayıtları listeleyen kodu yazınız.
*/    

USE VtysLabDB
SELECT * FROM tblView

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

orderID,customerID,firs_name,last_name,age,productID,product_name,price
5,106,Melia,NotSpecified,42,202,Pure Cycles William,5
6,106,Melia,NotSpecified,42,201,Electra Townie Original,10
7,106,Melia,NotSpecified,42,200,Surly Straggler,12.5
8,103,Debra,Burks,24,202,Pure Cycles William,5
9,103,Debra,Burks,24,201,Electra Townie Original,10
10,104,Kasha,Todd,36,200,Surly Straggler,12.5
11,104,Kasha,Todd,36,202,Pure Cycles William,5
12,105,Robby,Sykes,22,200,Surly Straggler,12.5
13,105,Robby,Sykes,22,201,Electra Townie Original,10