**VERİ TABANI YÖNETİM SİSTEMLERİ LAB UYGULAMA 9**

**Not**: Prelab dokümanında verilen veri tabanını oluşturduktan sonra aşağıda verilen sorulara uygun SQL kodlarını yazınız.  
Yazdığınız kodları <u>yorumlarınızla</u> açıklayınız. 

ESUZEM'de açılan yere bu dosyayı "OgrNo\_AdSoyad\_UygNo.ipynb" dosya adı ile beraber yükleyiniz.

Örnek dosya adı : <span style="color:red;font-size:14pt;">152120181000_ZekeriyyaDemirci_Uyg9.ipynb</span>

In [2]:
/*
-- SORUYA HAZIRLIK --
Uygulama 8'de oluşturulan "VtysLabDB" veritabanı mevcutta veri tabanınınzda yoksa aşağıdaki gibi oluşturunuz.
*/
CREATE DATABASE VtysLabDB

: Msg 1801, Level 16, State 3, Line 5
Database 'VtysLabDB' already exists. Choose a different database name.

In [3]:
/*
-- SORUYA HAZIRLIK --
VtysLabDB veri tabanında ilgili tabloları oluşturmak için kullanınız.
*/
USE VtysLabDB

CREATE TABLE tblCustomer
(
    customerID INT IDENTITY PRIMARY KEY,
    firs_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(20) DEFAULT 'NotSpecified',
    age INT NOT NULL,
    CONSTRAINT CHC_CustomerAge CHECK (age>=18)
)

INSERT INTO tblCustomer(firs_name,last_name,age) 
VALUES
('Debra','Burks',24),
('Kasha','Todd',36),
('Robby','Sykes',22)


CREATE TABLE tblProduct
(
    productID INT IDENTITY PRIMARY KEY,
    product_name VARCHAR(255) NOT NULL,
    price FLOAT NOT NULL,
    CONSTRAINT CHC_ProductPrice CHECK (price>0)
)

INSERT INTO tblProduct (product_name,price)
VALUES
('Surly Straggler',12.5),
('Electra Townie Original',10),
('Pure Cycles William',5)


CREATE TABLE tblOrder
(
    orderID INT IDENTITY PRIMARY KEY,
    productID INT,
    customerID INT,
    CONSTRAINT FK_ProductOrder FOREIGN KEY (productID) REFERENCES tblProduct(productID),
    CONSTRAINT FK_CustomertOrder FOREIGN KEY (customerID) REFERENCES tblCustomer(customerID)
)

In [4]:
/*
-- SORUYA HAZIRLIK --
"tblOrder" tablosuna aşağıdaki 5 adet kayıt ekleyiniz. 
*/  
use VtysLabDB

INSERT INTO tblOrder (customerID,productID)
VALUES
(1,1),
(1,2),
(1,3),
(2,1),
(2,2),
(2,3),
(3,1),
(3,2),
(3,3)

In [5]:
/*
(15p) Soru 1 : "TRG_CustomerCount" adında bir trigger oluşturunuz. Bu trigger "tblcustomer" tablosuna kayıt eklendikten sonra toplam müşteri(customer) sayısı "countOfCustomer" adıyla ekrana yazdırsın.
*/  

CREATE TRIGGER TRG_CustomerCount ON tblCustomer
AFTER INSERT
AS 
BEGIN
SELECT count(*) as countOfCustomer FROM tblCustomer
END

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [6]:
/* SORU 1 İLE BAĞIMLIDIR. SORU 1 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 2 : Aşağıda verilen kaydı "tblCustomer" tablosuna ekleyiniz. Aldığınız sonucu MUTLAKA açıklayınız.
*/  

use VtysLabDB

INSERT INTO tblCustomer(firs_name,last_name,age) 
VALUES
('Melia','Korly',42)


/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

countOfCustomer
4

In [7]:
/*
(15p) Soru 3 : "TRG_DeletedProduct" adında bir trigger oluşturunuz. Bu trigger "tblProduct" tablosundan bir kayıt silindikten sonra silinen kaydı ekrana yazdırsın.
*/  

CREATE TRIGGER TRG_DeletedProduct ON tblProduct
AFTER DELETE
AS 
BEGIN
SELECT * FROM DELETED
END

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [8]:
/* SORU 3 İLE BAĞIMLIDIR. SORU 3 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(25p) Soru 4 : "tblProduct" tablosundan sizin belirlediğiniz bir kaydı siliniz. Bu süreçte karşınıza çıkan hatalara uygun çözümler üreterek tablodan kaydı silin. 
                Aldığınız hatayı, nedenini ve çözümünüzü MUTLAKA yorumda yazınız. Aksi halde puan verilmeyecektir.

*/  

ALTER TABLE tblOrder
DROP CONSTRAINT FK_ProductOrder

ALTER TABLE tblOrder
ADD CONSTRAINT FK_ProductOrder FOREIGN KEY (productID) REFERENCES tblProduct(productID) ON DELETE CASCADE

DELETE FROM tblProduct WHERE productID=2;

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

productID,product_name,price
2,Electra Townie Original,10

In [9]:
/*
-- SORUYA HAZIRLIK --
Aşağıda verilen şekilde tabloyu oluşturunuz. Bu tabloyu bir sonraki soruda "silinen siparişleri(order) saklamak için kullanacağız."
         - Tablo adı : tblLoss
         - Kolonlar  :
                        - lossID       : Integer veri tipindedir. Primary KEY olarak kullanılacaktır. Otomatik olarak artış gösterir.
                        - orderID      : Integer veri tipindedir. 
                        - productID    : Integer veri tipindedir.
                        - product_name : Varchar(255) veri tipindedir. NULL olmasına izin verilmez.
                        - price        : Float veri tipindedir. NULL olmasına izin verilmez.
*/  

CREATE TABLE tblLoss
(
    lossID INT IDENTITY PRIMARY KEY,
    orderID INT,
    productID INT,
    product_name VARCHAR(255) NOT NULL,
    price FLOAT NOT NULL
)

In [10]:
/*
(35p) Soru 5 : "TRG_DeletedOrder" adında bir trigger oluşturunuz. Bu trigger "tblOrder" tablosundan bir kayıt silindikten sonra aşağıda belirtilen görevleri yerine getirmelidir.
                - "tblOrder" tablosundan silinen kaydı "tblLoss" tablosuna kaydedecektir. "tblLoss" tablosundaki kolonlara dikkat ediniz.
                - "tblLoss"  tablosundaki kayıtların ürün bazında toplam fiyatını(price) "totalPriceLoss" adıyla ekrana yazdıracaktır. (Hangi üründen kaç liralık sipariş silinmiştir? )
*/  

CREATE TRIGGER TRG_DeletedOrder ON tblOrder
AFTER DELETE
AS 
BEGIN

DECLARE @oID INT
DECLARE @pID INT
DECLARE @pName VARCHAR(255)
DECLARE @price FLOAT

SELECT @oID=orderID, @pID=productID FROM DELETED
SELECT @pName=product_name, @price=price FROM tblProduct WHERE productID=@pID

INSERT INTO tblLoss(orderID,productID,product_name,price)
VALUES (@oID,@pID,@pName,@price)

SELECT SUM(price) as totalPriceLoss FROM tblLoss GROUP BY productID

END

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

In [11]:
/* SORU 5 İLE BAĞIMLIDIR. SORU 5 YAPILMADIĞI TAKTİRDE PUANLAMA OLMAYACAKTIR.
(5p) Soru 6 : "tblOrder" tablosundan sizin belirlediğiniz en az 2 farklı siparişi siliniz. Bu siparişler farklı ürünler için olmalıdır. Sonucu yorumda açıklayınız. 

*/

DELETE FROM tblOrder WHERE orderID=1;

/* 
YORUMLARINIZI YAZINIZ
.
.
.
*/

totalPriceLoss
12.5